body {
  background-color: #193549;
  font-family: "Harry Potter Regular";
  color: #c1d1c1;
}

.translator {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 80vh;
}
.translator--abc {
  min-height: 70vh;
}
.translator__title {
  text-align: center;
  margin: 0;
  padding: 15px 0 0 0;
}
.translator__menu__list {
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
  margin: 0;
  padding: 5px 0;
}
.translator__menu__list__item {
  list-style: none;
  padding: 0 5px;
  margin: 0 5px;
}
.translator__menu__list__item__link {
  text-decoration: none;
}
.translator__menu__list__item__link:visited {
  color: #c1d1c1;
}
.translator__menu__list__item__link:hover, .translator__menu__list__item__link:focus {
  color: yellow;
}
.translator__box {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.translator__box__section {
  padding: 5px;
}
.translator__box__section--languages__options {
  display: flex;
  justify-content: center;
}
.translator__box__language {
  border: 1px solid #c1d1c1;
  border-radius: 5px;
  padding: 5px;
  line-height: 3;
}
.translator__box__language__icon--mobile {
  display: inline-block;
}
.translator__box__language__icon--desktop {
  display: none;
}
.translator__box__textarea {
  border-radius: 10px;
  resize: none;
  width: 90%;
  padding: 10px;
}
.translator__box__textarea:disabled {
  background-color: #fff;
}
.translator__main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}
.translator__main#abc_container {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.translator__main#abc_container .abc_item {
  padding: 5px;
  margin: 0 10px;
  font-size: 24px;
  line-height: 2;
  height: 40px;
  border-right: 1px solid #ccc;
}

#translator__switch__button,
#translator__button {
  padding: 15px 35px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: green;
  color: #c1d1c1;
}

footer {
  display: flex;
  height: 3rem;
  text-align: center;
}
footer p {
  margin: 0;
}

@media only screen and (min-device-width: 768px) {
  body {
    width: 90%;
    margin: 0 auto;
  }

  .translator {
    min-height: 100vh;
  }
  .translator--abc {
    min-height: 90vh;
  }
  .translator__menu__list {
    justify-content: center;
  }
  .translator__main#abc_container .abc_item {
    margin: 0 45px;
  }
  .translator__box {
    flex-direction: row;
    justify-content: center;
  }
  .translator__box--texts {
    padding: 5vh 0;
  }
  .translator__box__section:nth-of-type(odd) {
    flex-grow: 2;
  }
  .translator__box__section--languages__options {
    align-items: center;
  }
  .translator__box__language__icon--mobile {
    display: none;
  }
  .translator__box__language__icon--desktop {
    display: inline-block;
  }
  .translator__box__textarea {
    height: 300px;
  }

  #translator__button {
    padding: 30px 50px;
  }

  footer {
    justify-content: center;
  }
}